@model IEnumerable<PIM.Database.DatabaseModel.Ocorrencia>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Motivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataOcorrencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Morador.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Motivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataOcorrencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Morador.Nome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Identificador }) |
            @Html.ActionLink("Details", "Details", new { id=item.Identificador }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Identificador })
        </td>
    </tr>
}

</table>
