@model PIM.Web.ViewModels.UsuarioVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdColaborador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeColaborador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdGrupo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeGrupoUsuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Identificador }) |
    @Html.ActionLink("Back to List", "Index")
</p>
