@model PIM.Web.ViewModels.EstacionamentoVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Estacionamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VagasDisponiveis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VagasDisponiveis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdApartamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apartamento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Identificador }) |
    @Html.ActionLink("Back to List", "Index")
</p>
